<form id="formID">
  <div class="form-group">
      <br>
    <input type="text" class="form-control"placeholder="Enter name" name="name"/><br>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" /><br>
    <input type="number" class="form-control" placeholder="Enter Age" name="age" /><br>
    <input type="number" class="form-control" placeholder="Enter Mobile" name="mobile_no" /><br>
    <button type="submit" id="btn1" >Add Student</button><br>
</div>
</form>